{{template "base" .}}

{{define "content"}}
    <img class="mx-auto d-block" style="width: 15%;" src="/static/home-page/home.webp" alt="home index image"/>
    <strong><h2 style="text-align: center !important;font-weight: bold;">404 not found.</h2></strong>

{{end}}