{{template "base" .}}

{{define "content"}}
    <div class="container mt-5">
        <div class="row">
            <div class="col text-center">
                <h3>Dog page</h3>
            </div>
        </div>
    </div>
{{end}}